* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Consolas','Trebuchet MS', 'Lucida Sans Unicode', Verdana, sans-serif, Arial;
}

body {
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
    min-width: 640px;
    max-width: 1080px;
    height: 96vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home, .login {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0rem;
}

.logo span {
    font-size: 3rem;
    text-align: center;
}

hr {
    margin: 1rem 0rem;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.left, .right {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid lightblue;
    border-radius: 4px;
    padding: 1rem;
    overflow-y: auto;
}

.left button, .right button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#help_request_form_container, #review_form_container {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: none;
}

.left p, .right p {
    padding: 8px 0px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

form div label {
    width: 16ch;
    padding: 4px;
    white-space: nowrap;
}

form div .input {
    display: flex;
    flex: 1;
    width: 100%;
}

form div .input input, form div .input select, form div .input textarea {
    width: 100%;
    font-size: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding-left: 8px;
}

form div input[type="submit"], button {
    width: 100%;
    padding: 4px;
    background-color: #007BFF;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

form div input[type="submit"]:hover, button {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: lightblue;
}

a:hover {
    text-decoration: underline;
    color: rgb(33, 166, 200);
}

.header {
    margin-bottom: 1rem;
}

/* MODAL */
.modal {
    border: 1px solid lightblue;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgb(11, 11, 11);
    color: whitesmoke;
    padding: 1rem;
    width: 500px;
    min-height: fit-content;
}

.modal h3 {
    font-size: x-large;
    min-width: 11ch;
    max-width: 90%;
    color: lightblue;
}

.modal p {
    margin: 1rem;
    font-size: large;
    min-width: 11ch;
    max-width: 90%;
}

.copy_button {
    min-width: 6ch;
    max-width: 6ch;
}

.modal::backdrop {
    background-color: lightblue;
    opacity: 0.4;
}