body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
    height: 480px;
    background-color: rgb(33,33,33);
    color: whitesmoke;
    overflow: hidden;
}
hr {
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}
li {
    margin: 8px;
}
#content, #registration {
    display: none;
}
a {
    text-decoration: none;
    color: lightblue;
}
a:hover {
    text-decoration: underline;
    color: aqua;
}
.create-new-show-all {
    display: flex;
    justify-content: space-between;
}
#help-requests, #reviews {
    max-height: 20vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.01);;
}
#help-requests::-webkit-scrollbar, #reviews::-webkit-scrollbar {
    width: 4px;
}
#help-requests::-webkit-scrollbar-thumb, #reviews::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
}
#help-requests::-webkit-scrollbar-thumb:hover, #reviews::-webkit-scrollbar-thumb:hover {
    background-color: lightblue;
}
#help-requests::-webkit-scrollbar-track, #reviews::-webkit-scrollbar-track {
    background-color: rgb(33,33,33);
}

/* MODAL */
.modal {
    border: 1px solid lightblue;
    border-radius: 4px;
    z-index: 1000;
    background: rgb(11, 11, 11);
    color: whitesmoke;
    padding: 1rem;
    width: 300px;
    height: 500px;
    overflow: auto;
}

.modal h3 {
    font-size: x-large;
    min-width: 11ch;
    max-width: 90%;
    color: lightblue;
}

.modal p {
    margin: 1rem;
    min-width: 11ch;
    max-width: 90%;
}

.copy_button {
    min-width: 6ch;
    max-width: 6ch;
}

.modal::backdrop {
    background-color: lightblue;
    opacity: 0.4;
}