{% extends "base.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="home">
            <div class="header">
                <p>Ninja Stars</p>
                <p><a href="{% url 'frontend:logout' %}">Log Out</a></p>
            </div>
            <div class="content">
                <div class="left">
                    <div>
                        <button onclick="showForm('help-request')">Add Help Request</button>
                    </div>
                    <div id="help_request_form_container">
                        <form method="POST" id="help_request_form" action="/api/help/request/">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                        <hr>
                    </div>
                    <div id="help-requests"></div>
                </div>
                <div class="right">
                    <div id="reviews"></div>
                </div>
            </div>
        </div>
        <dialog class="modal" id="modal">
            <div id="modal_content"></div>
        </dialog>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}