* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Consolas','Trebuchet MS', 'Lucida Sans Unicode', Verdana, sans-serif, Arial;
}
body {
    min-width: 640px;
    max-width: 1080px;
    height: 96vh;
    background-color: rgb(33,33,33);
    color: whitesmoke;
    margin: auto;
}
li {
    margin: 1rem 2rem;
}
#content, #registration {
    display: none;
}
a {
    text-decoration: none;
    color: lightblue;
}
a:hover {
    text-decoration: underline;
    color: aqua;
}

/* MODAL */
.modal {
    border: 1px solid lightblue;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgb(11, 11, 11);
    color: whitesmoke;
    padding: 2rem;
    min-height: fit-content;
}

.modal h3 {
    font-size: x-large;
    min-width: 11ch;
    max-width: 90%;
    color: lightblue;
}

.modal p {
    margin: 1rem;
    min-width: 11ch;
    max-width: 90%;
}

.copy_button {
    min-width: 6ch;
    max-width: 6ch;
}

.modal::backdrop {
    background-color: lightblue;
    opacity: 0.4;
}